@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=DM+Serif+Display:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Righteous&family=Special+Gothic+Expanded+One&display=swap');
:root{
  --brown: #B77D4E ;
  --blue: #303066;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "League Spartan", sans-serif; */
    font-family: Helvetica; 
    /* font-weight: 900;  */
}
a{
    color: #000;
    text-decoration: none;
}
.flex{
    display: flex;
}
.block{
    display: block;
}
.aic{
    align-items: center;
}
.jcc{
    justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
.posab{
    position: absolute;
}
.posre{
    position: relative;
}
.fdc{
    flex-direction: column;
}
.tal{
    text-align: left;
}
.tac{
    text-align: center;
}
.h-100vh{
    height: 100vh;
}
.h-full{
    height: 100%;
}
.w-full{
    width: 100%;
}
.bgsilver{
    background-color: rgb(199, 216, 216);
}
.bgputih{
    background-color: white;
}
.bghitam{
    background-color: black;
}
.bgtomat{
    background-color: tomato;
}
.bgijo{
    background-color: greenyellow;
}
.bgkuning{
    background-color: yellow;
}
.bgbiru{
    background-color: blue;
}
.bgmerah{
    background-color: red;
}
.teksputih{
    color: rgb(238, 234, 234);
}
.tekssilver{
    color: rgb(199, 216, 216);
}

.team-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-inline: 20px;
  padding-block: 20px;
}
.team-section button{
  padding: 10px 20px;
  border-radius: 50vh;   
  background-color: #B77D4E;
  border: none;
  color: white;
  cursor: pointer;  
}
.service-title{
  width: 100%;
  padding-inline: 20px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.service-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.service-text p{
  color: #B77D4E;
  font-weight: 600; 
  font-size: 13px;
}
.service-text h2{
  color: rgb(48, 48, 102);
  font-size: 23px;
}
.service-content{
  width: 100%; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px; 
}
.team-card{
  position: relative;
  width: 100%;
  height: 220px;  
}
.team-card img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.team-card .socials{
  position: absolute;
  top: 0;
  right: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 13px;
  color: white;
  padding: 10px;
  background-color: #B77D4E;
}
/* .team-card i{
  position: absolute;
  top: 0;
  right: 14px;
  cursor: pointer;
  font-size: 13px;
  color: white;
  padding: 6px 20px 6px 6px;
  background-color: #B77D4E;
} */
.team-card h3{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  width: 95%;
  height: 25%; 
  font-size: 15px;
  color: var(--blue);
  border-top-left-radius: 10px;
  padding-inline-start: 20px;
  padding-block-start: 10px;
}
.team-card p{
  font-size: 12px;
  font-weight: 500;
  bottom: -10px;
  left: 0;
  position: absolute;
  background-color: var(--brown);
  border-radius: 0px 10px 0px 0px; 
  padding: 8px 20px;
  color: white;
}


/* 
media query standar minimal
min width: akan aktif ketika lebar layarnya minimal 1024 , kurang dari itu setingan css nya bawaan (versi mobile)
*/
@media (min-width: 500px){
    *{
        background-color: red;
    }
}
@media (min-width: 800px){
    *{
        background-color: green;
    }
}